# my options 
data/
!/data/README.md
experiments/*
!experiments/README.md
!experiments/Example

# tools/ablation
# tools/visualization

.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class